
    <div class="main-content">
      <section class="banner-section">
        <div class="search-bar">
          <div class="section-title">
          <h2 class="section-header"><b>Der Footballero</b></h2>
          <h2 class="section-subheader">Deine Teams, dein Plan</h2>
        </div>
          <p>Wähle deine Teams aus und finde die ideale Streaming-Lösung für all Spiele.</p>
          <app-team-selection></app-team-selection> 
        </div>
      </section>

      <section class="complete-coverage-section">
        <h2 class="section-header">Volle Abdeckung</h2>
        <p> Die beste kombination aus Streaming-Plattformen, um sicherzustellen, dass du kein Spiel verpasst.</p>
      </section>
    </div>
    
  
    <footer class="footer">
      <p>© 2024 Footballero. Alle Rechte vorbehalten.</p>
    </footer>