
    <div class="main-content">
      <section class="banner-section">
        <div class="search-bar">
          <div class="section-title">
          <h2 class="section-header"><b>Der Footballero</b></h2>
          <h2 class="section-subheader">Deine Teams, dein Plan</h2>
        </div>
          <p>Wähle deine Teams aus und finde die ideale Streaming-Lösung für all Spiele.</p>
          <app-team-selection></app-team-selection> 
        </div>
      </section>

      <section class="complete-coverage-section">
        <h2 class="section-header">Ein Projekt für die 6th Runde des GenDev Stipendiums</h2>
        <div class="text-container">
        <p>Der Footballero ist ein Projekt, das im Rahmen des GenDev Stipendiums entstanden ist. Es wurde allein von Mir, Carl Buchholz entwickelt. Der Footballero ist eine Webanwendung, die es Fußballfans ermöglicht, ihre Lieblingsteams und Wettkämpfe auszuwählen und die besten Streaming-Lösungen für alle Spiele zu finden. Die Webanwendung bietet eine umfassende Abdeckung aller Spiele, die von den ausgewählten Teams gespielt werden. Der Footballero ist eine benutzerfreundliche und intuitive Webanwendung, wenn ihnen etwas Unklar ist, gehen sie mit der Maus drauf und finden sie weitere Informationen.</p>
        <p><b>Die Features</b></p>
        <ul>
          <li>Wählen sie Teams und Tuniere aus</li>
          <li>Garantierte Findung der günstigsten Streaming-Lösung</li>
          <li>Erhalten sie alle Informationen zu den Spielen</li>
          <li>Wir erstellen einen Plan für sie, laden sie ihn einfach mit einem Klick herunter.</li>
        </ul>
        <p>WICHTIGE Anmerkung:</p>
        <p>Bei der Suche nach einer optimalen Abdeckung über alle Spiele ist mit einer Wartezeit von etwa 20 sekunden zu rechnen.</p>
        <br>
        <p>Alles weitere zum Projekt finden sie in der Readme.md des Github Repos</p>
        <h2>Viel Spaß!</h2>
      </div>
      </section>
    </div>
    